<h2>home</h2>
<p>{{home.ctrlName}}</p>
<fieldset>
  <legend>Default Form Elements</legend>
  <div class="form-group">
    <label class="col-md-2 control-label">Text field</label>
    <div class="col-md-10">
      <input class="form-control" placeholder="Default Text Field" type="text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Auto Complete</label>
    <div class="col-md-10">
      <input class="form-control" placeholder="Type somethine..." type="text" list="list">
      <datalist id="list">
        <option value="Alexandra">Alexandra</option>
        <option value="Alice">Alice</option>
        <option value="Anastasia">Anastasia</option>
        <option value="Avelina">Avelina</option>
        <option value="Basilia">Basilia</option>
        <option value="Beatrice">Beatrice</option>
        <option value="Cassandra">Cassandra</option>
        <option value="Cecil">Cecil</option>
        <option value="Clemencia">Clemencia</option>
        <option value="Desiderata">Desiderata</option>
        <option value="Dionisia">Dionisia</option>
        <option value="Edith">Edith</option>
        <option value="Eleanora">Eleanora</option>
        <option value="Elizabeth">Elizabeth</option>
        <option value="Emma">Emma</option>
        <option value="Felicia">Felicia</option>
        <option value="Florence">Florence</option>
        <option value="Galiana">Galiana</option>
        <option value="Grecia">Grecia</option>
        <option value="Helen">Helen</option>
        <option value="Helewisa">Helewisa</option>
        <option value="Idonea">Idonea</option>
        <option value="Isabel">Isabel</option>
        <option value="Joan">Joan</option>
        <option value="Juliana">Juliana</option>
        <option value="Karla">Karla</option>
        <option value="Karyn">Karyn</option>
        <option value="Kate">Kate</option>
        <option value="Lakisha">Lakisha</option>
        <option value="Lana">Lana</option>
        <option value="Laura">Laura</option>
        <option value="Leona">Leona</option>
        <option value="Mandy">Mandy</option>
        <option value="Margaret">Margaret</option>
        <option value="Maria">Maria</option>
        <option value="Nanacy">Nanacy</option>
        <option value="Nicole">Nicole</option>
        <option value="Olga">Olga</option>
        <option value="Pamela">Pamela</option>
        <option value="Patricia">Patricia</option>
        <option value="Qiana">Qiana</option>
        <option value="Rachel">Rachel</option>
        <option value="Ramona">Ramona</option>
        <option value="Samantha">Samantha</option>
        <option value="Sandra">Sandra</option>
        <option value="Tanya">Tanya</option>
        <option value="Teresa">Teresa</option>
        <option value="Ursula">Ursula</option>
        <option value="Valerie">Valerie</option>
        <option value="Veronica">Veronica</option>
        <option value="Wilma">Wilma</option>
        <option value="Yasmin">Yasmin</option>
        <option value="Zelma">Zelma</option>
      </datalist>
      <p class="note"><strong>Note:</strong> works in Chrome, Firefox, Opera and IE10.</p>
    </div>

  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Password field</label>
    <div class="col-md-10">
      <input class="form-control" placeholder="Password field" type="password" value="mypassword">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Textarea</label>
    <div class="col-md-10">
      <textarea class="form-control" placeholder="Textarea" rows="4"></textarea>
    </div>
  </div>

</fieldset>
